body{
  text-align: center;
  font: 19px/23px 'body_font','Helvetica Neue',Helvetica,Arial,sans-serif;-webkit-font-smoothing: antialiased;
  background-color: lightblue;
}

h1{
  margin-bottom: 40px;
  margin-top: 40px;
  height: 50px;
  width:90%;
  border-radius: 10px;
  border: solid 2px gray;
  padding-top: 30px;
  background-color: white;
  margin-left:5%;
  margin-right: 5%;

}

form{
  padding-top: 20px;
  height: 175px;
  width: 400px;
  background-color: #CCFFCC;
  margin: auto;
  border: solid 2px gray;
  margin-bottom: 40px;
  border-radius: 10px;
}

.form_area{
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border: solid 2px gray;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#addTask{
  margin-top: 20px;
  width: 305px;
  height: 40px;
  color: lightgray;
  border: solid 2px black;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: green;
}

ul{
  padding: 0;
  max-height: 300px;
}

li{
   list-style-type: none;
   margin: auto;
   border: solid 2px black;
   background-color:lightgray;
   border-radius: 10px;
   height: 30px;
   width:85%;
   padding-top: 10px;
   margin-right: 35px;
   margin-right: 1%;
   margin-left: 5%;
   margin-top: 2%;
   overflow: hidden;
   text-align: left;
   padding-left: 17px;
}

a{
  text-decoration: none;
  font-weight: bold;
  border: solid 2px gray;
  border-radius: 5px;
  margin-right: 11px;
  padding-left: 5px;
  color: black;
  height: 10px;
  background: white;
}

h2{
  border: solid 2px black;
  height: 35px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding-top: 15px;
}

.col{
  column-count: 3;
}

.columns{
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 400px;
  border: solid 2px gray;
  border-radius: 10px;
  background-color: #FFFF66;
  margin-right: 1%;
  margin-left: 1%;
}
